.formLayout{
    padding-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formLayout>.avata{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5rem;
    height: 7rem;
    width: 7rem;
    font-size: 4rem;
    border-radius: 100%;
    background: #fff;
    box-shadow: .5rem .5rem 1rem #0002;
    color: rgb(31, 24, 177)
}
.form{
    width: 80%;
}
.title{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
    background: -webkit-linear-gradient(45deg, rgb(31, 24, 177) 0%, rgb(54, 54, 204) 35%, rgba(0,212,255,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.modal>div{
    border-radius: 1rem;
}
